[user]
	name = Camille TJHOA
	email = camille.tjhoa@outlook.com
[core]
	editor = vim
	excludesfile = /cygdrive/c/Users/ctjhoa/.gitignore_global
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch -vv
	sl = log --graph --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --abbrev-commit --decorate --date=short
	up = pull --rebase
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[github]
	user = ctjhoa

[gitlab]
	user = ctjhoa
