[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "spacemacs/.emacs.d"]
	path = spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
	ignore = untracked
