! general settings
#include ".config/colors/bohemiath"

! fonts
!Xft.dpi:                96
Xft.authint:            0
Xft.lcdfilter:          lcddefault
Xft.antialias:          true
Xft.hinting:            true
Xft.hintstyle:          hintslight


! xterm
xterm*faceName:         xft:Monaco:medium:size=9

! URxvt
URxvt*font:            	xft:Monaco:medium:size=9
URxvt.letterSpace: 	-1
URxvt*scrollBar:        false
URxvt*saveLines:  	0
