! general settings
#include ".config/colors/bohemiath"

! fonts
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! xterm
xterm*faceName:         xft:DejaVuSansMono:medium:size=8

! URxvt
URxvt*font:            	xft:DejaVuSansMono:medium:size=8
URxvt.letterSpace: 	-1
URxvt*scrollBar:        false
URxvt*saveLines:  	0

! Emacs
Emacs.font:            	DejaVuSansMono-8
