! general settings
#include ".config/colors/bohemiath"

! fonts
Xft.dpi: 220
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! xterm
xterm*faceName:         xft:DejaVuSansMono:medium:size=9

! URxvt
URxvt*font:            	xft:DejaVuSansMono:medium:size=9
URxvt.letterSpace: 	-1
URxvt*scrollBar:        false
URxvt*saveLines:  	0
